.App {
  /* display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 20vh;
  width: 600px; */
  /* width: 600px; */
  /* margin: 0 auto;
  position: relative;
  top: 20vh; */
  margin:0
}
